<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form th:object="${login}" method="post" th:action="@{/login}">
    <table>
        <tr>
            <td><label for="account">Account:</label></td>
            <td><input type="text" th:field="*{account}" id="account"/></td>
        </tr>
        <tr>
            <td><label for="password">Password:</label></td>
            <td><input type="password" th:field="*{password}" id="password"/></td>
        </tr>
        <tr>
            <td colspan="2"><button type="submit">Login</button></td>
        </tr>
    </table>
</form>
</body>
</html>
